.catImage {
  opacity: 0;
  transition: opacity 0.1s linear;
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}

.catImage--visible {
  opacity: 1;
}

#catContainer {
  min-width: 50%;
  max-width: 100%;
  min-height: 50%;
  max-height: 65%;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: .25rem;
}

.newCatButton {
  position: absolute;
  bottom: -20px;
  width: 150px;
  height: 40px;
  background: #ff8e81;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.newCatButton:hover,
.newCatButton:focus {
  animation: buttonPop 0.2s forwards;
}

@keyframes buttonPop {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.18);
  }
}
