html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: mistyrose;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  position: relative;
}
